<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.rdss">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/appicon"
      android:roundIcon="@mipmap/appicon"
      android:allowBackup="true"
      android:theme="@style/AppTheme">

        <activity
                android:name=".SplashActivity"
                android:theme="@style/SplashActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".MainActivity"
                android:label="@string/app_name"
                android:exported="true"
                android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="e5c3eb5d2120fb093f747679e6fa8f389999ef3d"
            />
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
    </application>

</manifest>
